{% import './macros/render.twig' as render %}

{% extends './layout/default.twig' %}

{% block content %}

<h2>Modal</h2>
<button id="btn-open-modal">Open Modal</button>

{{
  render.component(
    'Modal/modal', {
      id: 'modal',
      title: 'test',
      options: {
        triggerModalOpenSelector: '#btn-open-modal'
      }
    }
  )
}}

{% endblock %}
