{% extends './layout/default.twig' %}

{% block content %}

<div class="page-wrapper">
  <div class="grid-container">
    <h2>Index</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, soluta.</p>
  </div> {# .grid-container #}
</div> {# .page-wrapper #}

{% endblock %}
