{% extends './layout/default.twig' %}

{% block content %}

<div class="page-wrapper">
  <div class="grid-container">
    <h1>Welcome!</h1>
    <p>You have successfully set up the <b>holly</b> build system. Be sure to check out the readme <a href="https://github.com/weareenvoy/holly" target="_blank">here</a>.</p>
    <p>Hopefully you're decent enough at your job to build a website.</p>
  </div> {# .grid-container #}
</div> {# .page-wrapper #}

{% endblock %}
