{% import './macros/render.twig' as render %}

{% extends './layout/default.twig' %}

{% block content %}

<div class="page-wrapper">
  <div class="grid-container">
    <h1>Index</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, soluta.</p>
  </div> {# .grid-container #}
</div> {# .page-wrapper #}

{% endblock %}
