{% import './macros/render.twig' as render %}
{% extends './layout/default.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="css/styleguide.css">
{% endblock %}

{% block content %}

<div class="page-wrapper">
  <div class="grid-container">
    <h1>Styleguide</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, nisi.</p>

    <h2>Typography</h2>

    <div id="headings" class="sg-card">
      <header class="sg-card__header">
        <a href="#headings" class="sg-card__anchor">#</a>
        <h3>Headings</h3>
      </header>
      <div class="sg-card__elements">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
      </div> {# __elements #}
      <div class="sg-card__code">
        <div class="sg-card__toggle-code sg-card__toggle-code--show">Show Code</div>
        <div class="sg-card__toggle-code sg-card__toggle-code--hide">Hide Code</div>
        {% set codeText = '<h1>Heading 1</h1>' %}
        <pre class="sg-code">
          <code class="language-markup">
{{ codeText|e('html') }}
          </code>
        </pre>
      </div> {# __code #}
    </div> {# .sg-card #}

  </div> {# .grid-container #}
</div> {# .page-wrapper #}

{% endblock %}

{% block scripts %}
<script src="js/styleguide.js"></script>
{% endblock %}
