$ns: '.header';

#{$ns} {
  position: fixed;
  padding: 30px 0;
  width: 100%;
  background-color: black;

  &__container {
    display: flex;
  }

  &__title {
    margin: 0;
    user-select: none;
  }
}
