/**
 * Component: Modal
 */

/* --- namespace --- */
$ns: '.modal';

/* --- styles --- */
#{$ns} {
  display: none;
  position: fixed 0;
  size: 100%;
  z-index: 1000;

  &--opened {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__overlay {
    position: absolute 0;
    size: 100%;
    background-color: $black;
    opacity: 0.75;
    cursor: pointer;
  }

  &__box {
    position: relative;
    padding: 40px;
    max-width: 80%;
    color: black;
    background-color: white;
    z-index: 10;
  }

  &__title {
    font-size: responsive 24px 60px;
  }

  &__content,
  &__content p {
    font-size: responsive 14px 18px;
    line-height: responsive 20px 26px;
  }
}
