// -------------------------- Marked Text <mark>
@mixin marked-text {
  padding: 3px 7px 1px 7px;
  background-color: yellow;
}

// -------------------------- Deleted Text <del>
@mixin deleted-text {
  padding: 3px 7px 1px 7px;
  background-color: pink;
  text-decoration: line-through;
}

// -------------------------- Strikethrough Text <s>
@mixin strikethrough-text {
  text-decoration: line-through;
}

// -------------------------- Inserted Text <ins>
@mixin inserted-text {
  padding: 3px 7px 1px 7px;
  background-color: lightGreen;
  text-decoration: none;
}

// -------------------------- Underlined Text <u>
@mixin underlined-text {
  text-decoration: underline;
}

// -------------------------- Small Text <small>
@mixin small-text {
  font-size: 75%;
}

// -------------------------- Bold Text <b>
@mixin bold-text {
  font-weight: bold;
}

// -------------------------- Italic Text <i>
@mixin italic-text {
  font-style: italic;
}

// -------------------------- Abbreviated Text <abbr>
@mixin abbreviated-text {
  text-decoration: none;
  border-bottom: 2px solid color('gray-s2');
  cursor: help;
}

// -------------------------- Cited Text <cite>
@mixin cited-text {
  font-style: italic;
}
