@import 'reset';
@import 'mixins';
@import 'theme/base/colors';
@import 'theme/base/fonts';
@import 'elements/typography/headings';
@import 'elements/typography/body-copy';
@import 'elements/typography/links';
@import 'elements/typography/inline-text-elements';
@import 'elements/typography/address';
@import 'elements/typography/blockquote';
@import 'elements/lists/lists';
@import 'elements/lists/description';
@import 'elements/dividers/dividers';
@import 'elements/buttons/buttons';
@import 'elements/code/block';
@import 'elements/code/inline';
@import 'elements/code/sample-output';
@import 'elements/code/user-input';
@import 'elements/code/variable';
@import 'elements/tables/tables';
@import 'elements/controls/checkbox';
@import 'elements/controls/input';
@import 'elements/controls/label';
@import 'elements/controls/radio';
@import 'elements/controls/select';
@import 'elements/controls/textarea';
@import '../components/Modal/modal';

body {
  color: $font-color-base;
  font-family: $font-family-base;
  font-size: $font-size-default;
  background-color: $page-bg-color;

  @if $font-smoothing-default {
    @include font-aa;
  }
}

button {
  color: black;
  background-color: white;
}

// -----------------------

/* -------------------------------------------------------- */
/* --- TYPOGRAPHY ----------------------------------------- */
/* -------------------------------------------------------- */

// --- Headings -------------------------------------------
h1 { @include heading-1; }
h2 { @include heading-2; }
h3 { @include heading-3; }
h4 { @include heading-4; }
h5 { @include heading-5; }
h6 { @include heading-6; }

// --- Body Copy ------------------------------------------
p { @include body-copy; }

// --- Links ----------------------------------------------
a { @include inline-link; }

// --- Inline Text Elements -------------------------------
mark        { @include marked-text; }
del         { @include deleted-text; }
s           { @include strikethrough-text; }
ins         { @include inserted-text; }
u           { @include underlined-text; }
small       { @include small-text; }
b, strong   { @include bold-text; }
i, em       { @include italic-text; }
abbr[title] { @include abbreviated-text; }
cite        { @include cited-text; }

// --- Address --------------------------------------------
address { @include address; }

// --- Blockquote -----------------------------------------
blockquote { @include blockquote; }

/* -------------------------------------------------------- */
/* --- LISTS ---------------------------------------------- */
/* -------------------------------------------------------- */

// --- Lists ----------------------------------------------
ul               { @include list-unordered; }
ul.list-inline   { @include list-unordered('inline'); }
ul.list-unstyled { @include list-unstyled; }
ol               { @include list-ordered; }
ul.list-condensed,
ol.list-condensed {
  @include list-condensed;
}

// --- Description ----------------------------------------
dl               { @include description; }
dl.dl-horizontal { @include description-horizontal; }

/* -------------------------------------------------------- */
/* --- DIVIDERS ------------------------------------------- */
/* -------------------------------------------------------- */

// --- Default --------------------------------------------
hr { @include divider; }

/* -------------------------------------------------------- */
/* --- BUTTONS -------------------------------------------- */
/* -------------------------------------------------------- */

// --- Default --------------------------------------------
button,
.btn { @include btn; }

/* -------------------------------------------------------- */
/* --- CODE ----------------------------------------------- */
/* -------------------------------------------------------- */

// --- Inline ---------------------------------------------
code { @include code; }

// --- User Input -----------------------------------------
kbd { @include user-input; }

// --- Block ----------------------------------------------
pre { @include code-block; }

// --- Variable -------------------------------------------
var { @include variable; }

// --- Sample Output --------------------------------------
samp { @include sample-output; }

/* -------------------------------------------------------- */
/* --- TABLES --------------------------------------------- */
/* -------------------------------------------------------- */

// --- Basic ----------------------------------------------
table.table { @include table; }

// --- Striped --------------------------------------------
table.table--striped { @include table-striped; }

// --- Bordered -------------------------------------------
table.table--bordered { @include table-bordered; }

// --- Hover ----------------------------------------------
table.table--hover { @include table-hover; }

// --- Condensed ------------------------------------------
table.table--condensed { @include table-condensed; }

/* -------------------------------------------------------- */
/* --- CONTROLS ------------------------------------------- */
/* -------------------------------------------------------- */

// --- All Inputs -----------------------------------------
input { @include input; }

// --- Text Input -----------------------------------------
input[type='text'],
input[type='password'] { @include input-text; }

// --- Number Input ---------------------------------------
input[type='number'] { @include input-number; }

// --- Textarea -------------------------------------------
textarea { @include textarea; }

// --- Label ----------------------------------------------
label { @include label; }

// --- Checkbox -------------------------------------------
input[type='checkbox']                  { @include checkbox; }
input[type='checkbox'].checkbox--inline { @include checkbox('inline'); }

// --- Radio ----------------------------------------------
input[type='radio']               { @include radio; }
input[type='radio'].radio--inline { @include radio('inline'); }

// --- Select ---------------------------------------------
select                  { @include select; }
select[multiple].select { @include select('multiple'); }
