// Gray
$gray-lightest: #f6f6f6;
$gray-lighter: #eee;
$gray-light: #ccc;
$gray: #666;
$gray-dark: #333;
$gray-darker: #222;
$gray-darkest: #1a1a1a;

$font-color-base: $gray-lightest;
$page-bg-color: $gray-darkest;
