/* ------ colors ------ */
$black: #000;
$black-near: #1C1D1E;
$white: #fff;

/* Grays */
$gray-lightest: #f3f3f3;
$gray-lighter: #fefefe;
$gray-light: #ccc;
$gray: #565a5C;
$gray-dark: #333;
$gray-darker: #222;
$gray-darkest: #1a1a1a;

/* ------ defaults ------ */
$fontColor-base:     $gray;
$fontColor-links:    $gray;
$fontColor-headings: $black-near;
$pageBg:             $gray-lightest;
